DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/online_e\nCELERY_BROKER_URL=redis://redis:6379/0\nCELERY_RESULT_BACKEND=redis://redis:6379/0\nBING_API_KEY=\nS3_ENDPOINT=\nS3_BUCKET=\nS3_KEY=\nS3_SECRET=\nFILE_UPLOAD_DIR=/tmp/uploads\n